<%- include("header") -%>
<h2> About</h2>
<p>
  This is a very simple to do list website. It has two main pages: a root page at / and a work page at, well /work.
  The user can add list items to the respective lists.
  The main purpose of this website is to learn about the EJS templates, and understand the passing of data from the
  web browser through to different routes on the server. As well as covering off new CSS functionality and partials. 
</p>

<%- include("footer") -%>
