body {
  background-color: #eeebdd;
}

hr {
  background-color: white;
  border-color: #810000;
  border-width: 2px;
  border-style: dotted none none;
  height: 0px;
  width: 10%
}

h1 {
  color: #630000;
}
h3 {
  color: #1b1717;
}
